export WDP=${PWD}
export PATH="${PWD}/bin:${PATH}"
export PATH="$(go env GOPATH)/bin:${PATH}"
export GO111MODULE=on

export TEST_CACHE_URL_REDIS="redis://localhost:7100/0"
export TEST_STORAGE_URL_REDIS="redis://localhost:7100/1"
export TEST_STORAGE_URL_POSTGRES="postgres://postgres@localhost:7200/postgres?sslmode=disable"
