export WDP=${PWD}
export PATH="${PWD}/bin:${PATH}"
export GO111MODULE=on

export TEST_POSTGRES_URL="postgres://postgres@localhost:8100/postgres?sslmode=disable"
export TEST_REDIS_URL="redis://localhost:6379"
