{{define "main"}}
    <div class="content">
        <h2 class="content-head is-center">{{ .Flag.Name }}</h2>
        <div class="pure-g">
            <div class="l-box-lrg pure-u pure-u-1">
                <form action="/flag" method="post" class="pure-form pure-form-aligned">
                    <fieldset>
                        <input name="_method" type="hidden" value="put">

                        <div class="pure-control-group">
                            <label for="percentage">Rollout Percentage</label>
                            <input id="percentage"
                                   name="flag.rollout.strategy.percentage"
                                   type="range" min="0" max="100"
                                   value="{{ .Flag.Rollout.Strategy.Percentage }}">
                        </div>

                        <div class="pure-control-group">
                            <label for="seed">Seed of the random pseudo random in the rollout</label>
                            <input id="seed"
                                   name="flag.rollout.randSeed"
                                   type="number"
                                   value="{{ .Flag.Rollout.RandSeed }}">
                            {{/*<span class="pure-form-message-inline"></span>*/}}
                        </div>

                        <div class="pure-control-group">
                            <label for="decisionApiURL">Decision API URL</label>
                            <input id="decisionApiURL"
                                   name="flag.rollout.strategy.decisionLogicApi"
                                   type="url"
                                   {{ if .Flag.Rollout.Strategy.DecisionLogicAPI }}value="{{ .Flag.Rollout.Strategy.DecisionLogicAPI }}"{{end}}
                                   placeholder="this flag's custom decision logic API URL (optional)">
                        </div>

                        <input name="flag.name" type="hidden" value="{{ .Flag.Name }}">
                        <input name="flag.id" type="hidden" value="{{ .Flag.ID }}">
                        <button type="submit" class="pure-button pure-button-primary">Save Flag Preferences</button>

                    </fieldset>
                </form>
                <form action="/flag" method="post" class="pure-form pure-form-aligned">
                    <fieldset>
                        <input name="_method" type="hidden" value="delete">
                        <input name="flag.id" type="hidden" value="{{ .Flag.ID }}">
                        <button type="submit" onclick="return confirm('Are you sure?')" class="pure-button">Delete Feature Flag</button>
                    </fieldset>
                </form>
            </div>

        </div>
    </div>

    <div class="content">
        {{ range .Pilots }}

            <form method="post" action="/flag/pilot" class="pure-form">
                <fieldset>

                    <label for="enrollment.{{ .ID }}">
                        <input name="pilot.enrolled"
                               id="enrollment.{{ .ID }}"
                               type="checkbox"
                               {{ if .Enrolled }}checked="checked"{{end}}> {{ .ExternalID }}
                    </label>

                    <input name="pilot.id" type="hidden" value="{{ .ID }}">
                    <input name="pilot.extID" type="hidden" value="{{ .ExternalID }}">
                    <input name="pilot.flagID" type="hidden" value="{{ .FeatureFlagID }}">
                    <button type="submit" class="pure-button pure-button-primary">set</button>

                </fieldset>
            </form>

            <form method="post" action="/flag/pilot/unset" class="pure-form">
                <fieldset>
                    <input name="pilot.extID" type="hidden" value="{{ .ExternalID }}">
                    <input name="pilot.flagID" type="hidden" value="{{ .FeatureFlagID }}">
                    <button type="submit" class="pure-button pure-button">unset</button>
                </fieldset>
            </form>

        {{ end }}
    </div>

    <div class="content">
        <form method="post" action="/flag/pilot" class="pure-form pure-form-aligned">
            <fieldset>

                <div class="pure-control-group">
                    <label for="pilotExtID">Pilot External ID</label>
                    <input id="pilotExtID"
                           name="pilot.extID"
                           type="text"
                           placeholder="Pilot ID that needs to be enrolled/blocked">
                </div>

                <div class="pure-control-group">
                    <label for="enrollment">Enrollment Status</label>
                    <input id="enrollment"
                           name="pilot.enrolled"
                           type="checkbox">
                </div>

                <input name="pilot.flagID" type="hidden" value="{{ .Flag.ID }}">
                <button type="submit" class="pure-button pure-button-primary">Register Pilot</button>

            </fieldset>
        </form>
    </div>

{{end}}