{{define "main"}}
    <div class="content">
        <h2 class="content-head is-center">Feature Flag List</h2>

        <table class="pure-table pure-table-horizontal">
            <thead>
            <tr>
                <th>Name</th>
                <th>Percentage</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {{ range . }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .Rollout.Strategy.Percentage }}{{ print "%" }}</td>
                    <td>
                        <ul>
                            <li><a href="/flag?id={{ .ID }}">edit</a></li>
                        </ul>
                    </td>
                </tr>
            {{ end }}
            </tbody>
        </table>

    </div>
{{end}}